<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Hallo</h3>
      <p>Bla Bla</p>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <h4>Login</h4>
          <small class="error" ng-show="loginError">Login fehlerhaft</small>
          <input type="text" ng-model="login.username" placeholder="Benutzername" class="form-control">
          <input type="password" ng-model="login.password" placeholder="Password" class="form-control">
          <a href class="small button" ng-click="login.verify()">Login</a>
        </div>
        <div class="large-6 medium-6 columns">
          <h4>Registrieren</h4>
          <small class="error" ng-show="registerError">Fehler bei der Registrierung</small>
          <input type="text" ng-model="registration.username" placeholder="Benutzername" class="form-control">
          <input type="password" ng-model="registration.password" placeholder="Password" class="form-control">
          <input type="password" ng-model="registration.password_verify" placeholder="Password bestätigen" class="form-control">
          <a href ng-show="registration.verify()" class="small button" ng-click="registration.create()">Registrieren</a>
          <a href ng-hide="registration.verify()" class="small button disabled" >Registrieren*</a>
          <span ng-hide="registration.verify()" class="secondary label">* Passwort muss mindestens 5 Zeichen haben</span>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <h4>Login over...</h4>
          <div ng-include="'/html/login.html'">Login</div>
        </div>
      </div>
    </div>
  </div>
</div>