div.row
  div(class='large-12' class='columns')
    h1= title
div.row
  div(class='large-12' class='columns')
    div.panel
      p Welcome to #{title}
        p
          a(href=link class='small' class='round' class='button') Login over GitHub