ul(class='small-block-grid-1 medium-block-grid-2 large-block-grid-4')
  li
    a(href=github class='small' class='button') GitHub
  li
    a(href=github class='small' class='button' class='disabled') Google
  li
    a(href=github class='small' class='button' class='disabled') Twitter